* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.gameSelectScreen {
    height: 100vh;
    width: 90%;
    display: flex;
    flex-direction: row;
}

.gameSelectBox {
    height: 90vh;
    width: 35vw;
    color: whitesmoke;
    display: flex;
}

.gameSelectBox:nth-child(1) {
    background-color: turquoise;
    margin-bottom: 25vh;
    border: rgb(28, 163, 163) 10px solid;
    border-bottom-right-radius: 7em;
}

.gameSelectBox:nth-child(2) {
    background-color: lightseagreen;
    margin-top: 25vh;
    border: lightskyblue 10px solid;
    border-top-left-radius: 7em;
}