* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
}

.playAgainScreen {
    height: 100vh;
    width: 100%;
    background-color: whitesmoke;
    display: flex;
}

.playAgainBox {
    display: flex;
    color: whitesmoke;
    border: lightseagreen 10px solid;
}

.playAgainBox:hover {
    color: red;
    /* Want to add border radius slow transition to the opposite corners */
}

.playAgainBox:nth-child(1) {
    height: 500px;
    width: 600px;
    background-color: lightskyblue;
    border-top-right-radius: 7em;
    border-bottom-left-radius: 7em;
}

.playAgainBox:nth-child(2) {
    height: 300px;
    width: 300px;
    border-top-left-radius: 7em;
    border-bottom-right-radius: 7em;
    background-color: lightslategray;
}