* {
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    justify-content: center;
}

body {
    background-image: url("./images/controller.jpg");
    background-size: cover;
}

h1 {
    display: flex;
    color: #581845;
}

.test {
    color: rgb(149, 112, 221, 0.6);
}